<router-outlet></router-outlet>

<div class="container">
  <div class="col-12 pt-5">
    <div><strong>The best guitarist of all time. (<a
          href="https://www.thisisdig.com/feature/best-guitarists-of-all-time/">Dig!</a>)</strong></div>
  </div>
  <div class="col-12 pt-3">
    <div>Default Template</div>
    <app-user></app-user>
  </div>
  <div class="col-12 pt-3">
    <div>Custom Template 1 Capitalize Name</div>
    <app-user [optionTemplate]="customTemplate1"></app-user>
    <ng-template #customTemplate1 let-user>
      <th scope="row">{{user.rank}}</th>
      <td>{{capitalizeName(user.name)}}</td>
      <td>{{user.band}}</td>
    </ng-template>
  </div>
  <div class="col-12 pt-3">
    <div>Custom Template 2 Add an image to a row</div>
    <app-user [optionTemplate]="customTemplate2"></app-user>
    <ng-template #customTemplate2 let-user>
      <th scope="row">{{user.rank}}</th>
      <td>
        <img class="rounded-circle" [src]="user.imageUrl" alt="image" height="50" width="50">
        {{capitalizeName(user.name)}}
      </td>
      <td>{{user.band}}</td>
    </ng-template>
  </div>
</div>