<div class="border">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Band</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <ng-template #defaultTemplate>
                <th scope="row">{{item.rank}}</th>
                <td>{{item.name}}</td>
                <td>{{item.band}}</td>
            </ng-template>
            <ng-container [ngTemplateOutlet]="optionTemplate || defaultTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
          </tr>
        </tbody>
      </table>
</div>